@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body, html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    overscroll-behavior: none;
}


.hero{
    background-image: url("../public/bg1.png");
    
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}